<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passport JS Auth</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            padding: 20px;
        }
        .container{
            margin: auto;
            width: 50%;
            padding: 150px;
        }
        h2 {
            color: #333;
        }
        
        a {
            text-decoration: none;
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            margin: 10px;
            transition: background-color 0.3s;
        }
        
        a:hover {
            background-color: #297fb8;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Passport JS Auth HomePage</h2>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
</body>
</html>